*{ 
    margin: 0; 
    padding: 0; 
} 
.navbar{
    width: 100%;
    height: 60px;
    box-shadow: 2px 2px 12px rgba(0 , 0, 0, 0.2);
    display: flex;
    align-items: center;
    padding-left: 4%;
    background-color: #003B54;
}
.navbar p{
    font-size: 25px;
    font-weight: bold;
    color: white;
    
}
.navbar img{
    width: 45px;
    margin-right: 12px;
    
}

.nav-link a:hover{
    color: #dfe6e9;
}
/* side bar */
.sidebar{
    left: 0;
   padding-top: 2px;
    width: 250px;
    height: 92vh;
    background: #3E96FF 50%;
    
}

.sidebar a{
    text-decoration: none;
    color: black;
    background-color: #ECF0F6;
}



.sidebar ul p{
    line-height: 40px;
    font-size: 17px;
    color: black;
    margin-left: -50px;
    padding-left: 25px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    background-color: #A1C5FB;
    box-shadow: 2px 2px 4px rgba(138, 137, 137, 0.2);
    
    
    
    
}
.sidebar ul{
    margin-left: 50px;
}

.fa-solid{
    margin-right: 10px;
    
}
ul p:hover i{
    padding-left: 50px;
    transition: .500s;
}
.container-2{
    margin-left: 680px;
    margin-top: -500px;
}